<section id="advantages">
  <div class="container advantages-container">
    <h2 class="advantages-title">Чому обирають нас?</h2>
    <hr />
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-holder">
          <h3 class="advantages-subtitle">Команда професіональних флористів</h3>
        </div>
        <div class="advantages-box">
          <img
            srcset="./images/advantages_1@2x.jpg 2x"
            src="./images/advantages_1.jpg"
            alt="flowers"
          />
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-holder">
          <h3 class="advantages-subtitle">Широкий асортимент квітів</h3>
        </div>
        <div class="advantages-box">
          <img
            srcset="./images/advantages_2@2x.jpg 2x"
            src="./images/advantages_2.jpg"
            alt="flowers"
          />
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-holder">
          <h3 class="advantages-subtitle">Приємні ціни</h3>
        </div>
        <div class="advantages-box">
          <img
            srcset="./images/advantages_3@2x.jpg 2x"
            src="./images/advantages_3.jpg"
            alt="flowers"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
