<section id="delivery">
  <div class="container delivery-container">
    <h2 class="delivery-title">Доставка</h2>
    <hr />
    <div class="delivery-box">
      <svg class="delivery-icon-car" width="40" height="40">
        <use href="./images/sprite.svg#icon-car"></use>
      </svg>
      <svg
        class="line-mobile"
        width="151"
        height="298"
        viewBox="0 0 151 298"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M117.997 1.49989C253 58 -96.7935 228.703 30.2446 296.228"
          stroke="#052C06"
          stroke-width="2"
          stroke-dasharray="4 4"
        />
      </svg>
      <svg
        class="line-desktop"
        height="97"
        viewBox="0 0 540 97"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.824954 94.9998C206.973 -28.0304 324.646 -31.6355 538.824 96.0017"
          stroke="#052C06"
          stroke-width="2"
          stroke-dasharray="4 4"
        />
      </svg>
      <div class="delivery-item">
        <div class="delivery-icon-bg">
          <svg class="delivery-icon" width="40" height="40" viewBox="0 0 40 40">
            <use href="./images/sprite.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="delivery-subtitle">Швидка доставка</h3>
        <p class="delivery-text">
          Зберемо та доставимо замовлення через годину.
        </p>

        <p class="delivery-text">
          Можливість оплати як банківською карткою так і готівкою при отриманні.
        </p>
      </div>
      <div class="delivery-item">
        <div class="delivery-icon-bg">
          <svg class="delivery-icon" width="40" height="40">
            <use href="./images/sprite.svg#icon-nav"></use>
          </svg>
        </div>
        <h3 class="delivery-subtitle">Безкоштовна доставка від 2000 грн</h3>
        <p class="delivery-text">
          Вартість доставки квітів по м.Київ - 200 грн.
        </p>
        <p class="delivery-text">Військовим - знижка 30%.</p>
      </div>
    </div>
  </div>
</section>
