  <div class="footer-wrapper container">
    <div class="footer-info">
      <div class="footer-nav-wrapper">
        <nav class="footer-nav">
          <ul class="footer-list-nav list">
            <li class="footer-nav-item">
              <a href="./#advantages" class="footer-nav-link link">Переваги</a>
            </li>
            <li class="footer-nav-item">
              <a href="./#gallery" class="footer-nav-link link">Галерея</a>
            </li>
            <li class="footer-nav-item">
              <a href="./#delivery" class="footer-nav-link link">Доставка</a>
            </li>
            <li class="footer-nav-item">
              <a href="./#reviews" class="footer-nav-link link">Відгуки</a>
            </li>
            <li class="footer-nav-item">
              <a href="./#quick-order" class="footer-nav-link link"
                >Швидке замовлення</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-work-schedule">
        <p class="footer-social-desc">Графік роботи</p>
        <p class="footer-social-desc">08:00-20:00</p>
        <p class="footer-social-desc">Без вихідних</p>
      </div>
      <div class="footer-social">
        <p class="footer-social-desc">Соціальні мережі</p>
        <ul class="footer-social-list list">
          <li class="footer-social-item">
            <a href="" class="footer-social-link" target="_blank" rel="noreferrer noopener">
              <svg class="footer-social-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a href="" class="footer-social-link icon-link" target="_blank" rel="noreferrer noopener">
              <svg class="footer-social-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-contacts">
        <p class="footer-contacts-desc">Контакти</p>
        <address class="footer-address">
          <ul class="footer-address-list list">
            <li class="footer-address-item">
              <a href="tel:+38(067)7111808" class="footer-address-link link"
                >+38 (067) 711-18-08</a
              >
            </li>
            <li class="footer-address-item">
              <p class="footer-address-link link">
                м. Київ, Проспект  Героїв, 18
              </p>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-logo">
      <a href="./index.html" class="footer-logo-link link">
        <span class="footer-logo-accent">Flover</span>Lover
      </a>
    </div>
  </div>