<section id="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Галерея</h2>
    <hr />

    <select
      id="selectElement"
      class="js-gallery-select gallery-select"
    ></select>

    <div class="swiper">
      <ul class="js-gallery swiper-wrapper"></ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>
    </div>

    <p class="gallery-text">
      Зверніть увагу, що ціна може змінюватись в залежності від обраних Вами
      кольорів квітів!
    </p>
  </div>
</section>
