<section>
  <div class="header-container container">
    <h1 class="header-title">Flover<span>Lover</span></h1>
    <button class="burger-btn js-open-menu" type="button">
      <svg width="32" height="32" viewBox="0 0 32 32" class="icon-menu">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>

    <ul class="menu-list">
      <li class="menu-item">
        <a href="./#advantages" class="menu-link">Переваги</a>
      </li>
      <li class="menu-item">
        <a href="./#gallery" class="menu-link">Галерея</a>
      </li>
      <li class="menu-item">
        <a href="./#delivery" class="menu-link">Доставка</a>
      </li>
      <li class="menu-item">
        <a href="./#reviews" class="menu-link">Відгуки</a>
      </li>
      <li class="menu-item">
        <a href="./#quick-order" class="menu-link">Швидке замовлення</a>
      </li>
    </ul>
  </div>
</section>
