<div class="mobile-menu-backdrop js-backdrop">
  <div class="container-mobile js-menu-container" id="mobile-menu">
    <button class="burger-close js-close-menu">
      <svg class="icon-x" width="40" height="40" viewBox="0 0 40 40">
        <use href="./images/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <ul class="mobile-menu-list js-close-link">
      <li class="mobile-menu-item">
        <a href="#advantages" class="mobile-menu-link">Переваги</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#gallery" class="mobile-menu-link">Галерея</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#delivery" class="mobile-menu-link">Доставка</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#reviews" class="mobile-menu-link">Відгуки</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#quick-order" class="mobile-menu-link">Швидке замовлення</a>
      </li>
    </ul>
  </div>
</div>
