<section id="quick-order" class="quick-order-section">
  <div class="container">
    <h2 class="order-title">Швидке замовлення</h2>
    <hr />
    <p class="order-desc">
      Заповніть форму і ми одразу зв’яжемось з Вами для уточнення замовлення
    </p>
    <form class="order-form">
      <label class="order-form-group">
        <input
          type="text"
          name="user_name"
          class="order-form-input order-form-field"
          required
          pattern="[а-щьюяґєіїА-ЩЬЮЯҐЄІЇ']*$"
          minlength="2"
          maxlength="20"
          placeholder="Ім'я"
        />
      </label>
      <label class="order-form-group">
        <input
          type="tel"
          name="user_phone"
          class="order-form-input order-form-field"
          required
          pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}"
          title="XXX5882076"
          minlength="10"
          maxlength="10"
          placeholder="Номер телефону"
        />
      </label>
      <label class="order-form-group">
        <input
          type="number"
          name="number_of_bouquets"
          class="order-form-input order-form-field"
          required
          min="1"
          max="50"
          placeholder="Кількість букетів"
        />
      </label>
      <label class="order-form-group">
        <input
          type="number"
          name="cost"
          class="order-form-input order-form-field"
          required
          placeholder="Орієнтовна вартість"
        />
      </label>
      <div class="custom-select js-select-container">
        <label class="order-form-group">
          <select name="reason_for_purchase" class="js-select-item">
            <option value="" disabled selected>Привід покупки</option>
            <option value="birthday">День Народження</option>
            <option value="wedding">Весілля</option>
            <option value="business meeting">Ділова зустріч</option>
            <option value="mourning">Траур</option>
            <option value="other">Свій варіант</option>
          </select>
        </label>
      </div>
      <label class="order-form-group hiddenvisualy js-own-version" >
        <input
          type="text"
          name="reason_own_version"
          class="order-form-input-own-version order-form-field"
          placeholder="Введіть свій варіант"
        />
      </label>
      <label class="order-form-group">
        <textarea
          name="user_message"
          class="order-form-message order-form-field"
          placeholder="Коментар"
        ></textarea>
      </label>
      <button type="submit" class="order-form-btn">Замовити букет</button>
    </form>
  </div>
</section>
