.error-container {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: var(--dark-text-color);
}

@media screen and (min-width:520px) {
    .error-container {
        padding-top: 160px;
        padding-bottom: 138px;
    }
}

@media screen and (min-width:1024px) {
    .hero-container {
        min-height: 800px;
        padding-top: 268px;
        padding-bottom: 232px;
    }
}

.error-photo {
    width: 100%;
    max-width: 856px;
    max-height: 332px;
    margin-left: auto;
    margin-right: auto;
}

.error-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 40px;
}

@media screen and (min-width:520px) {
    .error-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.25;
        margin-top: 80px;
    }
}

.error-text {
    font-size: 16px;
    line-height: 1.27;
    font-weight: 400;
    margin-top: 16px;
}

@media screen and (min-width:520px) {
    .error-text {
        font-size: 22px;
    }
}

.error-btn {
    display: inline-block;
    border-radius: 26px;
    border: transparent;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.38;
    margin-top: 32px;
    padding: 12px 36px;
    transition: var(--transition-dur-and-func);
}

@media screen and (min-width:520px) {
    .error-btn {
        font-size: 22px;
        line-height: 1.27;
        padding: 9px 89px;
    }
}

.error-btn:is(:hover, :focus) {
    color: var(--dark-text-color);
    background-color: var(--second-btn-hover);
}

.error-btn:active {
    color: var(--dark-text-color);
    background-color: var(--secondary-color);
}