.page-footer {
  background-color: var(--primary-color);
  padding-top: 32px;
  padding-bottom: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: center;
}

.footer-info {
  color: var(--light-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 138px 187px;
  grid-template-rows: 140px 80px;
  row-gap: 40px;
}

.footer-nav-wrapper {
  width: 138px;
  height: 140px;
}
.footer-list-nav {
  grid-column: 1;
  grid-row: 1;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-link {
  color: var(--light-text-color);
  transition: color var(--transition-dur-and-func);
}
.footer-nav-link:hover {
  color: var(--second-text-hover);
}
.footer-nav-link:focus {
  color: var(--dark-text-color);
}

.footer-social {
  grid-column: 2;
  grid-row: 1;
  width: 130px;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-social-list {
  display: flex;
  justify-content: start;
  gap: 24px;
}
.footer-social-item {
  width: 24px;
  height: 24px;
}
.footer-social-link {
  color: var(--light-text-color);
  transition: color var(--transition-dur-and-func);
}
.footer-social-link:hover {
  color: var(--second-text-hover);
}
.footer-social-link:focus {
  color: var(--dark-text-color);
}
.footer-social-icon {
  fill: currentColor;
}

.footer-work-schedule {
  grid-column: 1;
  grid-row: 2;
  width: 98px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-contacts {
  grid-column: 2;
  grid-row: 2;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-logo {
  font-family: 'Stalemate', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  color: var(--light-text-color);
}
.footer-logo-link {
  display: inline-block;
  height: 50px;
}
.footer-logo-accent {
  color: var(--dark-text-color);
}

@media screen and (max-width: 479px) {
  .footer-social {
    margin-left: 40px;
  }
}
@media screen and (min-width: 480px) {
  .footer-logo {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .footer-info {
    column-gap: 40px;
  }

  .footer-logo {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .page-footer {
    padding-bottom: 32px;
  }

  .footer-wrapper {
    justify-content: space-between;
  }

  .footer-info {
    font-size: 14px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .footer-nav-wrapper {
    width: 188px;
    height: auto;
  }
  .footer-list-nav {
    grid-column: 1;
    grid-row: 1;
    width: 188px;
    height: auto;
    gap: 12px;
  }

  .footer-social {
    grid-column: 3;
    grid-row: 1;
    width: 174px;
    height: auto;
    gap: 16px;
  }

  .footer-work-schedule {
    grid-column: 2;
    grid-row: 1;
    width: 133px;
    height: auto;
    gap: 12px;
  }

  .footer-contacts {
    grid-column: 4;
    grid-row: 1;
    height: auto;
    gap: 12px;
  }
  .footer-address-list {
    gap: 12px;
  }

  .footer-logo {
    align-items: end;
    font-size: 40px;
  }
  .footer-logo-link {
    display: inline-block;
    height: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    font-size: 19px;
    line-height: 1.15;
    grid-template-columns: 188px 133px 174px 253px;
    column-gap: 36px;
  }
  .footer-logo {
    font-size: 58px;
    line-height: 1.4;
  }
  .footer-logo-link {
    display: inline-block;
    height: 56px;
  }
}
