.reviews-container {
    padding-top: 24px;
    padding-bottom: 32px;
}

.reviews-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-text-color);
}

.reviews-list {
    max-width: 306px;
    display: grid;
    gap: 56px;
    grid-template-columns: 1fr;
    margin: 80px auto 0;
}

.reviews-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 306px;
    height: 176px;
    padding: 48px 24px 24px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.reviews-img {
    position: absolute;
    margin: 0 auto;
    top: -25%;
    left: 0;
    right: 0;
    width: 72px;
}

.reviews-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.reviews-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: end;
}

@media (min-width: 768px) {
    .reviews-list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 56px 24px;
        max-width: calc(2 * 306px + 24px);
    }

    .reviews-item {
        padding-bottom: 16px;
    }


    .reviews-text {
        font-size: 19px;

    }
}

@media screen and (min-width: 1024px) {
    .reviews-container {
        padding-bottom: 160px;
    }

    .reviews-list {
        gap: 24px;
        max-width: calc(4 * 306px + 3 * 24px);
        grid-template-columns: repeat(4, 1fr);
        margin-top: 162px;
    }

    .reviews-img {
        width: 86px;
        top: -40%;
    }

    .reviews-title {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1084px) {
    .reviews-text {
        font-size: 17px;
    }

}